<div *ngIf="participantExtended" class="row justify-content-center mt-4">
  <div class="col-12 col-sm-6">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="inputgroup">
        <label for="oldPassword">Old Password *</label>
        <input type="password" id="oldPassword" formControlName="oldPassword" appServerValidator="oldPassword" [formKey]="changePasswordFormKey">
        <div class="validation-message">
          <ng-container *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">
            <!-- Server errors -->
            <ng-container *ngIf="oldPassword.errors.server">
              <span *ngFor="let error of oldPassword.errors.server">{{error}}</span>
            </ng-container>
            <span *ngIf="oldPassword.errors.required">Field is required.</span>
          </ng-container>
        </div>
      </div>
      <div class="inputgroup">
        <label for="newPassword">New Password *</label>
        <input type="password" id="newPassword" formControlName="newPassword" appServerValidator="newPassword" [formKey]="changePasswordFormKey">
        <div class="validation-message">
          <ng-container *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
            <!-- Server errors -->
            <ng-container *ngIf="newPassword.errors.server">
              <span *ngFor="let error of newPassword.errors.server">{{error}}</span>
            </ng-container>
            <span *ngIf="newPassword.errors.required">Field is required.</span>
          </ng-container>
        </div>
      </div>
      <div class="inputgroup">
        <label for="confirmPassword">Confirm Password *</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" appServerValidator="confirmPassword" [formKey]="changePasswordFormKey" appEqualValidator="newPassword">
        <div class="validation-message">
          <ng-container *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
            <!-- Server errors -->
            <ng-container *ngIf="confirmPassword.errors.server">
              <span *ngFor="let error of confirmPassword.errors.server">{{error}}</span>
            </ng-container>
            <span *ngIf="confirmPassword.errors.equal">Passwords does not match.</span>
            <span *ngIf="confirmPassword.errors.required">Field is required.</span>
          </ng-container>
        </div>
      </div>
      <button class="btn-regular-alt btn-block" type="submit" [disabled]="isBusy">Save</button>
    </form>
  </div>
</div>
