<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div *ngIf="!passwordMach" class="alert alert-danger" role="alert">
        Password doesn't match
      </div>
      <form [formGroup]="resetPasswordForm" (submit)="onSubmit()" novalidate>
        <div class="inputgroup">
          <label for="password">New password</label>
          <input id="password" type="password" name="password" formControlName="password"
                 appServerValidator="password" [formKey]="resetPasswordFormKey">
          <ng-container *ngIf="password.invalid && (password.dirty || password.touched)">
            <div class="validation-message">
              <ng-container *ngIf="password.errors.server">
                <span *ngFor="let error of password.errors.server">{{error}}</span>
              </ng-container>
              <span *ngIf="password.errors.required">Field is required.</span>
            </div>
          </ng-container>
        </div>
        <div class="inputgroup">
          <label for="confirmPassword">Confirm new password</label>
          <input id="confirmPassword" type="password" name="confirmPassword" formControlName="confirmPassword"
                 appServerValidator="confirmPassword" [formKey]="resetPasswordFormKey">
          <ng-container *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
            <div class="validation-message">
              <ng-container *ngIf="confirmPassword.errors.server">
                <span *ngFor="let error of confirmPassword.errors.server">{{error}}</span>
              </ng-container>
              <span *ngIf="confirmPassword.errors.required">Field is required.</span>
            </div>
          </ng-container>
        </div>
        <button type="submit" class="btn-regular-alt btn-block">Reset password</button>
      </form>
    </div>
  </div>
</div>
