.institution-background{
  min-height: calc(100vh - (80px + 78px));
  padding: 30px 0;
  background-image: url("/assets/course-background-red.png");
  @media (max-width: 767px) {
    min-height: 0;
  }
}
.institution{
  width: calc(50% - 16px);
  margin: 0 8px 16px 8px;
  padding: 16px 24px;
  border: 1px solid $primary;
  border-radius: 4px;
  background-color: $white;

  @media(max-width: 767px) {
    width: 100%;
    margin: 0 0 16px 0;
    padding: 8px 12px;
  }

  &.central{
    width: 100%;
    .institution-type{
      text-align: center;
    }
    .institution-list{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      @media(max-width: 767px) {
        flex-direction: column;
        align-items: center;
      }
    }
    .institution-item{
      margin: 0;
      padding: 0 8px;
      .name{
        text-align: center;
      }
    }
  }

  &.school{

  }

  &.kindergarten{

  }
  .institution-type{
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
  }
  .institution-list{
    display: block;
  }
  .institution-item{
    margin-bottom: 12px;
    &:hover{
      .name{
        color: $primary;
        &[href]{
          text-decoration: underline;
        }
      }
      img{
        @include transform(scale(1.1));
      }
    }

    .img-holder{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 200px;
      margin: auto;

      @media(max-width: 991px) {
        width: 100px;
        height: 100px;
      }
      @media(max-width: 767px) {
        width: 150px;
        height: 100px;
      }
    }

    img{
      display: block;
      max-height: 100%;
      max-width: 100%;
      @include transition(transform $time);
    }

    .name{
      display: block;
      margin: 0;
      color: $primary;
      font-size: 22px;
      text-align: left;
      line-height: 1.2;
      .subline{
        display: block;
        line-height: 1;
        font-size: 14px;
      }
    }
  }
}
