<div class="container">
  <h2 class="page-title">Forgot password</h2>

  <ng-container *ngIf="!passwordSent">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <!--<p>Enter email that you used for registration so we can send you email with link for entering new password</p>-->
        <form [formGroup]="forgotPasswordForm" (submit)="onSubmit()" novalidate>
          <div class="inputgroup">
            <label for="email">Your email</label>
            <input id="email" type="text" name="email" formControlName="email">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="validation-message">
              <span>Invalid email address</span>
            </div>
          </div>
          <button class="btn-regular-alt btn-block">Send reset password email</button>
        </form>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="passwordSent">
    <div class="email-sent">
      <h2 class="title">Email sent successfully</h2>
      <p class="text">Email has been sent to <strong>{{email.value}}</strong><br/>Please check spam in case you don't see email</p>
    </div>
  </ng-container>

</div>
