<ngb-accordion #accordion="ngbAccordion" [closeOthers]="true" class="collapsible" (panelChange)="panelChanged($event)"> <!-- activeIds="{{events[0].courseType}}" -->
   <ngb-panel *ngFor="let event of events" [id]="event.courseType | lowercase">
    <ng-template ngbPanelTitle>
      <p class="title {{event.courseType | lowercase}}-bg">{{event.courseType}} {{event.info}}</p>
    </ng-template>
    <ng-template ngbPanelContent>

      <div *ngFor="let childEvent of event.eventsByCourseTreeId" class="program">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-sm-6 col-md-3 col-lg-2">
            <img src="{{childEvent.courseImageUrl}}" alt="">
          </div>
          <div class="col-12 col-md-9 col-lg-10">
            <h3 class="program-title">{{childEvent.name}}</h3>
            <p class="program-subtitle">{{childEvent.subTitle}}</p>
            <div class="text-left" [innerHtml]="childEvent.description | rawHtml"></div>
          </div>
          <div class="col-12">

            <div *ngFor="let eventGroup of childEvent.eventsByStartTimeEndTime" id="{{eventGroup.events[0].eventId}}" class="program-events-group">
              <p class="program-date">{{eventGroup.monthInfo}}</p>
              <p class="program-time">{{eventGroup.dayInfo}}</p>
              <p>Price: 
                <span [ngClass]="{'program-old-price': eventGroup.isEarliBirdActive}">{{currencySign}}{{eventGroup.priceInfo}}</span>
                <span *ngIf="eventGroup.isEarliBirdActive" class="program-new-price">{{currencySign}}{{eventGroup.priceInfoEarliBird}}</span>
              </p>
              <div class="program-controls">

                <div *ngFor="let eventGroupItem of eventGroup.events" class="single-program">
                  <ng-container *ngIf="eventGroupItem.freePlace >= 1">
                    <strong>Free places: {{eventGroupItem.freePlace}}</strong>
                    <span>{{eventGroupItem.language || '&nbsp;'}}</span>
                    <a [routerLink]="['/event', eventGroupItem.eventId] | languageAndInstitution"
                       [ngClass]="{'disabled': !eventGroupItem.isBookable}"
                       class="btn btn-regular-alt">Book</a>
                  </ng-container>
                  <ng-container *ngIf="eventGroupItem.freePlace < 1">
                    <strong class="booked">Booked out!</strong>
                    <span>{{eventGroupItem.language}}</span>
                    <a [routerLink]="['/event', eventGroupItem.eventId] | languageAndInstitution"
                       [ngClass]="{'disabled': !eventGroupItem.isBookable}"
                       class="btn btn-regular">Waiting list</a>
                  </ng-container>
                  <div *ngIf="eventGroupItem.eventDiscounts.length" class="info-bubble discount">
                    <span *ngFor="let discount of eventGroupItem.eventDiscounts">{{discount.discountInfo}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
